{% load static %}
<html>
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">

        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="main-container">
            <div class="page-header">
                {% if user.is_authenticated %}
                    <div class="tool-bar">
                        <h1><a href="/admin/logout" class="tool">Log Out</a></h1>
                    </div>
                {% else %}
                    <div class="tool-bar">
                        <h1><a href="/admin/login" class="tool">Log In</a></h1>
                    </div>
                {% endif %}
                <h1><a href="/" id="page-title">Portfolio</a></h1>
                {% if user.is_authenticated %}
                    <div class="icon-bar">
                        <a href="{% url 'post_new' %}" class="menu-icon"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="{% url 'post_draft_list' %}" class="menu-icon"><span class="glyphicon glyphicon-edit"></span></a>
                    </div>
                {% endif %}
                
            </div>

            <div class="content-container">
                <div class="blog-post">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>