{% extends 'blog/base.html' %}

{% block content %}
    <div class="bio">
        <div class="profile-pic">
            <a href="https://github.com/CraigTheCrag">
                <img src="https://avatars3.githubusercontent.com/u/51270749?s=460&amp;u=a0d7f0f8d181b36bf799983c34e2f57e760a26c5&amp;v=4">
            </a>
        </div>
        <div class="data-container">
            <div class="about-container">
                <div class="about-me-title">
                    <h2>About Me</h2>
                </div>
                <div class="about-me-txt">
                    <p>Temp Text......</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}