{% extends 'blog/base.html' %}

{% block content %}
    <div class="post-detail">
        <div class="post-title">
            <h2 class="title-no-link">{{ project.title }}</h2>
        </div>
        <p>{{ project.text|linebreaksbr }}</p>
        {% if project.video_id %}
            <div class="post-video">
                <iframe class="post-iframe"width="420" height="315" src="https://www.youtube.com/embed/{{ project.video_id }}"></iframe>
            </div>
        {% endif %}
        <div class="github-link">
            <h3><a href="https://www.github.com/CraigTheCrag/{{ project.github_title }}">Github</a></h3>
        </div>
        {% if project.published_date %}
            <div class="post-date">
                {{ project.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'project_publish' pk=project.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'project_edit' pk=project.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'project_remove' pk=project.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
    </div>
{% endblock %}