@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap');

.main-container {
    position: relative;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

.page-header {
    background-color: rgb(241, 241, 241);
    padding-top: 0%;
    margin: 0px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-title {
    color: black;
    font-family: 'Advent Pro';
    font-size: 50px;
    margin: 0px 500px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.tool {
    color: black;
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 0.3em;
}

.icon-bar {
    text-align: center;
}

.menu-icon {
    color: black;
    margin: auto 25px;
    font-size: 45px;
}

.post-title {
    color: black;
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.post-title:hover {
    color: rgba(70, 70, 70, 0.8);
    text-decoration: underline;
}

.page header h1 a:hover {
    text-decoration: underline;
}

.content-container {
    padding-left: 15px;
}
