@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Advent Pro', Arial, sans-serif;
}

.main-container {
    position: relative;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

.page-header {
    background-color: rgb(241, 241, 241);
    padding-top: 0%;
    margin: 0px;
    height: 100px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: 1fr / repeat(5, 1fr);
    position: fixed;
    z-index: 5;
}

.page-header a:hover {
    text-decoration: underline;
    color: rgba(70, 70, 70, 0.8);
}

#page-title {
    color: black;
    font-size: 50px;
    margin: 0px 500px;
    font-weight: bold;
    letter-spacing: 0.1em;
    grid-column: 3 / span 1;
}

#page-title:hover {
    text-decoration: none;
}

.tool-bar {
    text-align: center;
    grid-column: 1 / span 2;
}

.tool {
    color: black;
    letter-spacing: 0.3em;
}

.icon-bar {
    text-align: center;
    grid-column: 4 / span 2;
}

.menu-icon {
    color: black;
    margin: auto 25px;
    font-size: 45px;
}

.post-title {
    color: black;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.post-title:hover {
    color: rgba(70, 70, 70, 0.8);
    text-decoration: underline;
}

.content-container {
    padding-left: 15px;
    padding-top: 100px;
}
